
on: push
name: Analyze
jobs:
  build:
    name: Analyze
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v1
    - uses: subosito/flutter-action@v1.2.0
      with:
        channel: 'beta'
    - run: cd tool && flutter doctor && flutter pub get && flutter pub run test
    - run: cd driver && flutter pub get && flutter test
    - run: cd example && flutter pub get
    - run: flutter analyze
